//= require_tree ./vendor
//= require_tree ./lib

.summarized-article
  border-bottom: 1px solid rgba(0,0,0,0.05)
  padding: 40px 0

.content-section
  padding-top: 0px

h2.header-recent-articles
  font-size: 50px
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif

@media all and (min-width: 10px)
  h1.blog-title
    font-size: 40px
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif
    font-weight: 700
    width: 100%
    text-shadow: 0px 0px 10px #555

@media all and (min-width: 800px)
  h1.blog-title
    font-size: 80px
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif
    font-weight: 700
    width: 100%
    text-shadow: 0px 0px 10px #555

h2.section-title
  margin-top: 80px
  color: #888

h2.section-title:after
  content: " "
  margin: 5px auto
  display: block
  width: 150px
  border-bottom: 1px #333 solid

.tag
  display: inline
  list-style: none
  padding: 10px 10px

ul.archive
  padding: 0px

li.archive-article
  list-style-type: none
  padding: 5px 0px

.gravatar
  -webkit-border-radius: 5em
  border-radius: 5em
  margin: 5px

.author-name
  font-size: 16px
  display: inline
  color: #6CD
  // margin: 0px 70px 0px 0px

.author-gravatar
  display: inline

.highlight
  text-align: left

.highlight table
  margin: auto
  
