@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);
@import 'lib/*';


.article__cover {
  background: url(/images/cover-500.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden;
  position: relative;
  padding-bottom: 20%;
}

.article-intro {
  margin-top: 50px;
  vertical-align: bottom;
  color: $dark;
}

.article-intro p {
  line-height: 1.2em
}

.article-title {
  font-size: 30px;
  margin: 0 0 0 -4px;
  font-weight: bold;
  line-height: 1em;
  color: $primary;
  font-family: $secondary-font;
}

@media all and (min-width: 768px) {
  .article-intro {
    margin-top: 100px;
  }

  .article-title {
    font-size: 50px;
  }
}

.author {
  margin-top: 10px;
  margin-bottom: 0px;
}

.author-name {
  color: gray;
  font-weight: bold;
  font-size: 100%;
  display: inline;
}

.article-date {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: $secondary-font;
  color: #aaa;
}

.article-body {
  margin-top: 20px;
  margin-bottom: 50px;
  color: $text;
}

.article-body {
  h2, h3, h4, ht {
    font-weight: bold;
    font-family: $secondary-font;
  }

  h2 {
    margin: 30px 0 20px 0;
    font-size: 220%;
  }

  h3 {
    margin: 30px 0 20px 0;
    font-size: 190%;
  }

  h4 {
    margin: 30px 0 20px 0;
    font-size: 160%;
  }

  h5 {
    margin: 10px 0;
    font-size: 130%;
  }

  code {
    // font-family: 'Source Code Pro', sans-serif;
    // font-weight: bold;
    background: none;
    color: inherit;
  }

  pre {
    border: 0px;
    margin: 30px 0;
  }

  // 画面サイズの小さな端末で画像がスクリーンサイズをはみ出ないようにする
  img {
    max-width: 100%;
  }
}

.highlight, .highlight > code, code.highlight {
  overflow: auto;
  padding: 0;
  background: none;
  border: none;
  white-space: no-wrap !important;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}
