---
title: サンプル記事1タイトル
category: SAMPLE_CATEGORY
tags: sample, foo
author: Yusuke KUOKA
gravatar: ykuoka@gmail.com
published: false
---

%p 要約サンプル　要約サンプル　要約サンプル

シェルスクリプトで「コマンドがエラー終了したときにリトライ」したい場合に使うスクリプト。

READMORE

<script src="https://gist.github.com/mumoshu/b5361d508fe1694fba6c.js"></script>

%section
  %h2.article__title サンプル記事1見出し1
  %p.article__body サンプル記事1本文1
  %p.article__body
    #example
      :code
        # lang: ruby
        hoge
        def foo
          puts "bar"
        end
