---
title: サンプル記事2タイトル
category: SAMPLE_CATEGORY
tags: sample, bar
---

%p.article__body 要約サンプル　要約サンプル　要約サンプル

READMORE

%section.article
  %h2.article__title サンプル記事2見出し1
  %p.article__body サンプル記事2本文1
  %p.article__body サンプル記事2本文1
  %p.article__body サンプル記事2本文1
  %p.article__body サンプル記事2本文1
