---
title: RubyKaigi 2014に参加＆登壇しました #rubykaigi
date: 2014-09-24 9:30 JST
tags:
  - ruby
  - rubykaigi
  - event
gravatar: ykuoka@gmail.com
author: Yusuke Kuoka
twitter_id: mumoshu
ogp:
  og:
    image:
      '': http://engineer.crowdworks.jp/images/rubykaigi/2014/badge-for-official-sponsor@2x.png
      type: image/png
      width: 250
      height: 250
atom:
  image:
    url: http://engineer.crowdworks.jp/images/rubykaigi/2014/badge-for-official-sponsor@2x.png
    type: image/png
---

運営・参加・登壇された皆様、おつかれさまでした :wada:

個人的にも会社的にもRubyには大変お世話になっていながら、個人としては初めてのRubyKaigi、会社としても初めてのスポンサーということで、ホーム感とアウェイ感の間で揺れながらの参加でした。
それから1週間立って改めて思いますが、運営サイドの充実ぶり、参加者の歩み寄りのバランス、集う人たち、Kaigiでありながらお祭り感もある、などなど全て含めて本当にスペシャルなイベントでした。関わった皆様、ありがとうございました！！

というわけで、この記事ではKaigi中のハイテンションもそろそろ収まってきたこのタイミングで、開催期間中のことをつらつらと振り返っていきます。
個人的に面白いと思ったキーワード・フレーズやセッションなどについて書いていきます。

READMORE

<%= table_of_contents(current_page) %>

## 書き起こしスタイルのレポート

書き起こしスタイルのレポートはこのブログに既にアップ済みです。
セッションを聞きながら一日中写真をとったりメモをとり続けるのは結構大変でした。
スライドは続々と公開されていますが、書き起こしスタイルのレポートにはスライドに含まれない内容もあるので、あわせて読んでいただけると理解が深まると思います。

* [RubyKaigi 2014 1日目 参加レポート](http://engineer.crowdworks.jp/2014/09/18/rubykaigi-2014-day1-report-by-mumoshu.html)
* [RubyKaigi 2014 2日目 参加レポート](http://engineer.crowdworks.jp/2014/09/19/rubykaigi-2014-day2-report-by-mumoshu.html)
* [RubyKaigi 2014 3日目 参加レポート](http://engineer.crowdworks.jp/2014/09/20/rubykaigi-2014-day3-report-by-mumoshu.html)

## 速く動いて文句言う人はいないので、なるべく速く動かす

笹田さんやmatzが仰っていたフレーズ。これは言語にかぎらず、私たちが普段開発しているサービスにも言えることなので、どんどん使っていこうと思います。
 
## つくるのは易しい、ちゃんとつくるのは難しい

笹田さんがRubyの並列実行やVMの実装などの文脈で仰っていたフレーズ。
個人的に最近、機能だけでなく、応答性、スループット、可用性、フェールセーフなど様々な側面を考慮した判断をすることが多くなってきていて、この「ちゃんと」が指すものの大きさに

## ランチ

当日はぼっちで各セッションを回っていました。
さらに、個人的にレポート執筆のため出遅れつつ、開始30分後くらいに、ランチ会場入り。
すると・・・

<blockquote class="twitter-tweet" lang="ja"><p>今日のrubykaigiのランチタイム、戸惑った人もいらっしゃるとは思いますが、rubyconfに参加したときもおんなじように戸惑った経験を思い出した。入国審査ナシでこの感じを体験できるのは&quot;個人的には&quot;アリだなぁ。明日どうしようね？ <a href="http://t.co/arNioTKiyp">pic.twitter.com/arNioTKiyp</a></p>&mdash; Kakutani Shintaro (@kakutani) <a href="https://twitter.com/kakutani/status/512585397977628673">2014, 9月 18</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

なにやら会場いっぱいに円卓が並んでいて皆さん談笑している感じ・・・(；・∀・)

「出遅れた！」と思いましたが、企画された方の意図としては、全く知らない人同士でコミュニケーションを（半ば強制的にでも）とってほしいのだろうなぁ、と思って、あえて全く面識のない3名の方がいらっしゃるテーブルに突撃。
自己紹介したり、「RubyKaigiは初めてですか？」などと雑談をしたりして楽しく過ごさせていただきました。

RubyKaigiで一番アクションを求められたのがランチだったと思いますw

## the_metal

[tenderlove/the_metal](https://github.com/tenderlove/the_metal)

Aaron(@tenderlove)がRails 4高速化のセッションで少しだけ触れていたRack 2.0になるかもしれないもの。
Aaron自身Node.jsを勉強中だと言っていたことからも想像がつくとおり、Node.jsのAPIにかなり影響を受けていそうです。
Railsの低レイヤーを置き換えるという重大なもののわりに注目度が低い(GitHub上で331スター)ので、コントリビュートするなら今ですね!

## synvertのはなし

## 登壇のはなし

## 参考URL

RubyKaigi参加者の記事が既にいくつか上がっていたので、参考までにリスト化しておきます。
この記事とあわせて楽しんでください！

* [RubyKaigi 2014 に参加した - t-wadaのブログ](http://t-wada.hatenablog.jp/entry/rubykaigi2014)
* [【速報】RubyKaigi 2014レポ：tending the ruby ecosystem | マネーフォワード エンジニアブログ](https://moneyforward.com/engineers_blog/2014/09/20/%E3%80%90%E9%80%9F%E5%A0%B1%E3%80%91rubykaigi-2014%E3%83%AC%E3%83%9D%EF%BC%9Atending-the-ruby-ecosystem/)
* [RubyKaigi 2014に参加してきた - fukayatsu.dev](http://blog.fukayatsu.com/2014/09/21/rubykaigi/)
* [RubyKaigi行ってきました & RubyHirobaで「神奈川Ruby会議01」告知LTしてきました #rubykaigi #rubyhiroba #kana01 | once upon a time,](http://chezou.wordpress.com/2014/09/21/rubykaigi%E8%A1%8C%E3%81%A3%E3%81%A6%E3%81%8D%E3%81%BE%E3%81%97%E3%81%9F-rubyhiroba%E3%81%A7%E3%80%8C%E7%A5%9E%E5%A5%88%E5%B7%9Druby%E4%BC%9A%E8%AD%B001%E3%80%8D%E5%91%8A%E7%9F%A5lt%E3%81%97/)
* [RubyKaigi 2014に行ってきた #rubykaigi - console.blog(self);](http://sadah.hatenablog.com/entry/2014/09/21/152026)

