---
title: サンプル記事1タイトル
category: SAMPLE_CATEGORY
tags: sample, foo
author: Yusuke KUOKA
gravatar: ykuoka@gmail.com
---

%p 要約サンプル

シェルスクリプトで「コマンドがエラー終了したときにリトライ」したい場合に使うスクリプト。

<script src="https://gist.github.com/mumoshu/b5361d508fe1694fba6c.js"></script>

READMORE

%section
  %h2 サンプル記事1見出し1
  %p サンプル記事1本文1
  %p
    #example
      :code
        # lang: ruby
        hoge
        def foo
          puts "bar"
        end
