%div.header
  %section.article-intro.container{style: "margin-top: 0px"}
    .row
      .col-md-10.col-md-offset-1.blog-article.clearfix
        = link_to image_tag('crowdworks-logo.png', class: 'header-logo'), 'http://engineer.crowdworks.jp/'
        = partial "sns_shares_header"
