%div{style: "margin-top: 0px; border-top: 5px solid #44bbcc;"}
%section.article-intro.container{style: "margin-top: 0px"}
  .row
    .col-md-10.col-md-offset-1.blog-article
      = link_to image_tag('crowdworks-logo.png', class: 'nav-logo'), '//crowdworks.jp/'
