%ul.share-buttons
  %li
    -# tweetボタン
    -# https://about.twitter.com/ja/resources/buttons#tweet
    %a.twitter-share-button{:"data-url" => "http://engineer.crowdworks.jp/", "data-text" => " CrowdWorks EngineerBlog", :href => "https://twitter.com/share/"} Tweet
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  %li.article__body__share-buttons__share-button
    -# Facebook Like Button
    -# https://developers.facebook.com/docs/plugins/like-button
    .fb-like{"data-action" => "like", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "false", "data-href" => "http://engineer.crowdworks.jp/"}
  %li.article__body__share-buttons__share-button
    -# はてぶボタン
    -# http://b.hatena.ne.jp/guide/bbutton
    %a.hatena-bookmark-button{"data-hatena-bookmark-lang" => "ja", "data-hatena-bookmark-layout" => "standard-balloon", :href => "http://b.hatena.ne.jp/entry/http://engineer.crowdworks.jp/", :title => "このエントリーをはてなブックマークに追加"}
      %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "http://b.st-hatena.com/images/entry-button/button-only@2x.png", :style => "border: none;", :width => "20"}/
    %script{:async => "async", :charset => "utf-8", :src => "http://b.st-hatena.com/js/bookmark_button.js", :type => "text/javascript"}
  - if current_page.data.github_user
    %li.article__body__share-buttons__share-button
      -# GitHub Button
      -# http://ghbtns.com/
      %iframe{allowtransparency: "true", frameborder: "0", height: "20", scrolling: "0", src: "http://ghbtns.com/github-btn.html?user=#{current_page.data.github_user}&type=follow&count=true", width: "165"}
  %li.article__body__share-buttons__share-button
    .g-plusone{"data-size" => "medium", "href" => "http://engineer.crowdworks.jp/"}
    :javascript
      window.___gcfg = {lang: 'ja'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
