%section.article-intro.container{style: "text-align: center; padding: 10px 15px;"}
  .row
    .col-md-8.col-md-offset-2
      %h1.blog-title
        = link_to 'Engineer Blog', '/', class: 'blog-title__link'
