%section.article-intro.container{style: "color: #aaa; text-align: center; font-weight: 100; font-size: 30px; padding: 10px 15px;"}
  .row
    .col-md-8.col-md-offset-2
      %h1.blog-title Engineer Blog
